<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="baidu_union_verify" content="b735cfd888d5893b11f6a5b082a188d4">
  <meta name="baidu-site-verification" content="LhmnifbHAX" />
<!--  <meta name="keywords" content="HTML5源代码,前端源代码,H5小游戏源代码,H5抽奖,H5特效">-->
<!--  <meta name="description" content="本网站提供HTML5源代码,前端源代码,H5小游戏源代码,H5抽奖,H5特效等源代码的演示和下载&#45;&#45;YGG软件技术网">-->
<!--  <link rel="shortcut icon" href="./src/assets/logo.ico" type="image/x-icon" />-->
<!--  <title>HTML5前端源代码</title>-->
  <meta name="keywords" content="opencv python教程,opencv教程 python语言实现">
  <meta name="description" content="本网站提供opencv教程,利用Python语言实现,opencv教程完整,有完整的示例代码--YGG软件技术网">
  <link rel="shortcut icon" href="./src/assets/logo.ico" type="image/x-icon" />
  <title>Opencv教程(Python语言)</title>
  <% if (process.env.NODE_ENV === 'production') { %>
    <!-- 生产环境 -->
    <script>document.write('<script src="./config/index.js?t=' + new Date().getTime() + '"><\/script>');</script>
  <% }else { %>
    <!-- 开发环境 -->
    <script src="./static/config/index.js"></script>
    <script src="./static/plugins/mock-1.0.0-beta3/mock-min.js"></script>
    <script src="./static/plugins/echarts-3.8.5/echarts.common.min.js"></script>
    <script src="./static/plugins/ueditor-1.4.3.3/ueditor.config.js"></script>
    <script src="./static/plugins/ueditor-1.4.3.3/ueditor.all.min.js"></script>
    <script src="./static/plugins/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>
  <% } %>
</head>
<body>
  <div id="app"></div>
</body>
</html>
